<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PractosFive.Properties.Settings.endsConnectionString"
            connectionString="Data Source=DESKTOP-PJPTSCI\SQLEXPRESS;Initial Catalog=ends;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="PractosFive.Properties.Settings.sendsConnectionString"
            connectionString="Data Source=DESKTOP-PJPTSCI\SQLEXPRESS;Initial Catalog=sends;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>